<main class="container">
  <%= link_to "Back", tasks_path %>

  <div class="header">
    <h1> Edit Task </h1>
  </div>

  <%= turbo_frame_tag @task do %>
    <%= render "form", task: @task %>
  <% end %>
</main>
